<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="GroupMapper">
 	
 	<resultMap id="GroupSelectMap" type="groups">
 		<result property="groupNo" 			column="GROUP_NO" 			jdbcType="NUMERIC"/>
		<result property="groupName" 			column="GROUP_NAME" 			jdbcType="VARCHAR"/>
		<result property="groupMaster" 			column="GROUP_MASTER" 			jdbcType="VARCHAR"/>
		<result property="groupInfo"	column="GROUP_INFO" 		jdbcType="CLOB" />
		<result property="address"	column="ADDRESS" 		jdbcType="VARCHAR" />
		<result property="memberLimit" 				column="MEMBER_LIMIT" 					jdbcType="VARCHAR" />
		<result property="visitCount" 				column="VISIT_COUNT" 					jdbcType="NUMERIC" />
		<result property="point" 			column="POINT" 		jdbcType="NUMERIC" />
		<result property="birthDate" 				column="BIRTH_DATE" 					jdbcType="DATE" />	
		<result property="mainImg" 			column="MAIN_IMG" 		jdbcType="VARCHAR" />
		<result property="infoImg" 				column="INFO_IMG" 					jdbcType="VARCHAR" />
		<result property="ageLimitStart" 			column="AGE_LIMIT_START" 		jdbcType="NUMERIC"/>
		<result property="ageLimitEnd" 			column="AGE_LIMIT_END" 		jdbcType="NUMERIC"/>
		<result property="interestNo1" 			column="INTEREST_NO1" 		jdbcType="CHAR"/>
		<result property="interestNo2" 			column="INTEREST_NO2" 		jdbcType="CHAR"/>
		<result property="interestNo3" 			column="INTEREST_NO3" 		jdbcType="CHAR"/>
		<result property="hashTag" 			column="HASHTAG" 		jdbcType="CLOB"/>
		<result property="count" 			column="COUNT" 		jdbcType="NUMERIC"/>
		<result property="rank" 			column="GRADE_NAME" 		jdbcType="VARCHAR"/>
	</resultMap>
 	
	<select id="checkedGroupName" parameterType="string" resultType="string">
		SELECT group_name FROM groups WHERE group_name like #{value}
	</select>
	 
	<insert id="addGroups" parameterType="groups"> 
		
		INSERT INTO groups
		(GROUP_NO, GROUP_NAME, GROUP_MASTER, GROUP_INFO, MEMBER_LIMIT, VISIT_COUNT, ADDRESS, POINT, BIRTH_DATE, MAIN_IMG, INFO_IMG, AGE_LIMIT_START, AGE_LIMIT_END, INTEREST_NO1, INTEREST_NO2, INTEREST_NO3, hashTag, count)
		VALUES (SEQ_GROUP_NO.NEXTVAL, #{groupName},	#{groupMaster}, #{groupInfo}, #{memberLimit:VARCHAR}, 0, #{address}, 0, SYSDATE, #{mainImg}, null, #{ageLimitStart}, #{ageLimitEnd}, #{interestNo1}, #{interestNo2}, #{interestNo3}, #{hashTag}, 1)
		
	</insert>
	
	<select id="getListGroup" parameterType="search" resultMap="GroupSelectMap">
	  	
	  	select *
		from (SELECT inner_table.* , ROWNUM AS row_seq
			from (SELECT
				g.group_no, g.group_name, gg.GRADE_NAME, g.group_master, g.point, g.BIRTH_DATE, g.INTEREST_NO1, g.INTEREST_NO2, g.INTEREST_NO3, g.main_Img, g.group_info, g.count
				FROM groups g, group_grade gg 
					<trim prefix="WHERE" prefixOverrides="AND">
													<if test="searchCondition != null and condition == null">
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				g.group_name like '%${searchKeyword}%'
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				(g.INTEREST_NO1 = '${searchKeyword}'
										 				OR g.INTEREST_NO2 = '${searchKeyword}'
										 				OR g.INTEREST_NO3 = '${searchKeyword}')
													</if>
													<if test="searchCondition == 2 and searchKeyword !='' ">
										 				g.group_master like '%${searchKeyword}%'
													</if>
													</if>
													<if test="condition != null">
														(g.INTEREST_NO1 = '${interest}'
										 				OR g.INTEREST_NO2 = '${interest}'
										 				OR g.INTEREST_NO3 = '${interest}')
													</if>
													AND g.point BETWEEN gg.point_start AND gg.point_end 
												</trim>
												ORDER BY GROUP_NO)inner_table
												where ROWNUM &lt;= #{endRowNum}
			)inner 
		where row_seq between #{startRowNum} and #{endRowNum}
		
		
	 </select>
	
	<select  id="getTotalCount" parameterType="search" resultType="int"> 
	  	SELECT COUNT(*)
	  	FROM( SELECT * FROM GROUPS
							<trim prefix="WHERE" prefixOverrides="AND">
								<if test="searchCondition != null">
								<if test="searchCondition == 0 and searchKeyword !='' ">
					 				GROUP_NAME like '%${searchKeyword}%'
								</if>
								<if test="searchCondition == 2 and searchKeyword !='' ">
									INTEREST_NO1 like '%${searchKeyword}%'
									OR INTEREST_NO2 like '%${searchKeyword}%'
									OR INTEREST_NO3 like '%${searchKeyword}%'
								</if>
								</if>
							</trim>
						  ORDER BY GROUP_NO) countTable						
	 </select>
	 
	 <delete id="deleteGroupAdmin" parameterType="string">
	 	DELETE FROM groups WHERE group_no = #{value}
	 </delete>
	 
	 <select id="getGroup" parameterType="string" resultMap="GroupSelectMap">
	 	SELECT g.group_no, g.group_name, g.group_master, g.group_info, g.member_limit, g.visit_count, g.address, g.point, g.birth_date, g.main_img, g.info_img, g.age_limit_start, g.age_limit_end, g.interest_no1, g.interest_no2, g.interest_no3, g.hashtag, g.count, gg.grade_name 
	 	FROM GROUPS g, GROUP_GRADE gg WHERE group_no = #{value} AND g.point BETWEEN gg.point_start AND gg.point_end
	 </select>
	 
	 <update id="updateGroup" parameterType="groups">
	 	UPDATE groups
	 	set group_name = #{groupName}, 
	 	group_info = #{groupInfo}, 
	 	member_limit = #{memberLimit:VARCHAR}, 
	 	address = #{address}, 
	 	point = #{point}, 
	 	main_Img = #{mainImg}, 
	 	age_limit_start = #{ageLimitStart}, 
	 	age_limit_end = #{ageLimitEnd}, 
	 	interest_no1 = #{interestNo1}, 
	 	interest_no2 = #{interestNo2}, 
	 	interest_no3 = #{interestNo3}, 
	 	hashTag = #{hashTag}
	 	where group_no = #{groupNo}
	 </update>
	 
	  <select id="getGroupMember" parameterType="string" resultMap="GroupSelectMap">
	 	SELECT g.group_no, g.group_name, g.group_master, g.group_info, g.member_limit, g.visit_count, g.address, g.point, g.birth_date, g.main_img, g.info_img, g.age_limit_start, g.age_limit_end, g.interest_no1, g.interest_no2, g.interest_no3, g.hashtag, g.count, gg.grade_name 
	 	FROM GROUPS g, GROUP_GRADE gg WHERE group_name = #{value} AND g.point BETWEEN gg.point_start AND gg.point_end
	 </select>
</mapper>