<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ScheduleMapper">
 	
 	<resultMap id="schedlueSelectMap" type="schedule">
 		<result jdbcType="NUMERIC"		column="SCHEDULE_NO"		property="scheduleNo"/>
 		<result jdbcType="VARCHAR"		column="TITLE"				property="title"/>
 		<result jdbcType="CLOB"			column="CONTENTS"			property="contents"/>
 		<result jdbcType="NUMERIC"		column="MAX_MEMBER"			property="maxMember"/>
 		<result jdbcType="NUMERIC"		column="FEE"				property="fee"/>
 		<result jdbcType="DATE"			column="START_DATE"			property="startDay"/>
 		<result jdbcType="DATE"			column="END_DATE"			property="endDay"/>
 		<result jdbcType="VARCHAR"		column="LAT"				property="lat"/>
 		<result jdbcType="VARCHAR"		column="LNG"				property="lng"/>
 		<result jdbcType="NUMERIC"		column="GROUP_NO"			property="groupNo"/>
 		<result jdbcType="VARCHAR"      column="ADDRESS"			property="address"/>

 	</resultMap>
 	
 	
 	<insert id="addSchedule" parameterType="schedule"> 	
 		INSERT
 		INTO schedule(schedule_no,title,contents,max_member,fee,start_date,end_date,lat,lng,group_no,address)
 		VALUES(seq_schedule_schedule_no.nextval,#{title},#{contents},#{maxMember},#{fee},to_date(#{startDay},'YYYY/MM/DD HH24:MI'),to_date(#{endDay},'YYYY/MM/DD HH24:MI'),#{lat:VARCHAR},#{lng:VARCHAR},#{groupNo},#{address})
 	</insert>
 	
 	<select id="getScheduleList" parameterType="schedule" resultMap="schedlueSelectMap">
	 	
	 	SELECT schedule_no,title,contents,max_member,fee,start_date,end_date,lat,lng,group_no,address
	 	FROM schedule
	 	WHERE group_no=#{groupNo}	 	
	 		<if test="scheduleNo != 0">
	 			AND schedule_no=#{scheduleNo}
	 		</if>
 	</select>
 	

	 
</mapper>